<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul > 
<li>List popular languages for Data Science</li>
<li>List Data Science Tools</li>
<li>List commonly used libraries used by Data Scientists</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Matplotlib</li>
    <li>Pandas</li>
    <li>Scikitlearn</li>
</ol>

Data Science Tools
<table>
    <thead>
        <td>Data Science Tools</td>
    </thead>
    <tr>
        <td>Jupiterlab</td>
    </tr>
    <tr>
        <td>Hadoop</td>
    </tr>
    <tr>
        <td>R studio</td>
    </tr>
</table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

<h2>Author</h2>
Oussama Elwarraki